header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-image:
    url("images/header-box.png"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat-x, repeat-x;
  background-size:
    496px 487px,
    36px 72px,
    36px 72px;
  background-position:
    156px -40px,
    0 -38px,
    17px -40px;
  color: var(--color-primary);
  text-align: center;

  h1 {
    @include logomark;
    font-family: "Updock", sans-serif;
    margin-top: 30px;
  }

  h2 {
    max-width: 30ch;
  }
}
